*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0f2027;
}
.nav-login{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.nav-login form{
    display: flex;
    flex-direction: column;
    gap: 25px;

}
.nav-login form input{
    padding: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.726);
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 250px;
    transition: all 0.3s ease-in-out;
    transition: background-color 0.3s, transform 0.2s;
}

.nav-login form input:hover{
    background-color: black;
    cursor: pointer;
    transform: scale(1.05);

}

.nav-login form button{
    padding: 15px;
    border: none;
    border-radius: 5vh;
    color: white;
    background-color: gray;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.nav-login form button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    
}
.nav-login ::placeholder{
    font-weight: bold;
    color: white;
    

}
